@* <footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - JavaScriptLearingWithMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer> *@

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © To be interesting, be interested.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Powered By Arvind Yadav.
                </div>
            </div>
        </div>
    </div>
</footer>