<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li class="mm-active">
                    <a href="index.html" class="waves-effect active">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-starter-page">Dashboard</span>
                    </a>
                </li>
                
               <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-file"></i>
                        <span key="t-authentication">Forms</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                        <li><a asp-area="" asp-controller="Users" asp-action="Index">UsersIndex</a></li>
                        <li><a asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a></li>
                        <li><a asp-area="" asp-controller="Book" asp-action="Index">GetBooks</a></li>
                        
                        @* <li><a asp-area="Admin" asp-controller="OfficerAshram" asp-action="Index">संस्था अनुबंध</a></li>
                        <li><a asp-area="Admin" asp-controller="Officer" asp-action="Index">अधिकारी मास्टर</a></li>
                        <li><a href="org-member.html">संस्था पदाधिकारी / सदस्य </a></li>
                        <li><a asp-area="Admin" asp-controller="Staff" asp-action="Index">स्टाफ पंजीकरण</a></li> *@
                        
                    </ul>
                </li>
               @*  <li>
                    <a href="javascript:void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-file"></i>
                        <span key="t-starter-page">संवासी</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-area="Admin" asp-controller="Resident" asp-action="Index">संवासी रजिस्ट्रेशन</a></li>
                        <li><a asp-area="Admin" asp-controller="" asp-action="">संवासी अधिकरण मामले का विवरण </a></li>
                        <li><a href="disability.html">संवासी दिव्यांगता का विवरण </a></li>
                        <li><a href="tribunal-healthdetails.html">सवांसी स्वास्थ का विवरण</a></li>
                        <li><a href="residentsocialfinancial-details.html">संवासी सामाजिक आर्थिक विवरण </a></li>
                        <li><a href="family-details.html">संवासी परिवार का विवरण </a></li>
                        <li><a href="tribunal-married-status.html">संवासी वैवाहिक विवरण </a></li>
                    </ul>
                </li>
                <li class="mm-active">
                    <a href="view-details.html" class="waves-effect active">
                        <i class="bx bx-table"></i>
                        <span key="t-starter-page">प्राप्त आवेदन की जानकारी</span>
                    </a>
                </li>
                <li class="mm-active">
                    <a href="view-details-resident.html" class="waves-effect active">
                        <i class="bx bx-table"></i>
                        <span key="t-starter-page">पंजीकृत संवासी का विवरण</span>
                    </a>
                </li>
                <li class="mm-active">
                    <a href="staff-details.html" class="waves-effect active">
                        <i class="bx bx-table"></i>
                        <span>स्टाफ की सूची</span>
                    </a>
                </li> *@
            </ul>

        </div>
        <!-- Sidebar -->
    </div>

</div>


<!-- Left Sidebar End -->
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->